{% extends 'base.html.twig' %}
{% block title %}about {% endblock %}
{% block stylesheet %}

{% endblock %}
{% block body %}<div class="container" ><h1 align="center"><u>Qui sommes nous ?</u></h1>
     <p>
            En 2015,les habitants de la rue Cavendish et de la rue de meaux ont décidé de créer Les riverains du 43
            (Association socio-culturelle),association qui a pour objet de mener des actions pour assurer la
            tranquilité,la salubrité et le bien vivre du quartier.
        </p>
        <p>Ainsi,à l'issue de plusieurs rencontres avec les élus locaux,le quartier s'est engagé à mettre à disposition
            un bureau de rencontre,d'échange et de décision de rénovation citoyenne.</p>
        <p>C'est ainsi qu'en 2016 les riverains décidèrent de créer Les riverains du 43(Association socio-culturelle:loi
            1901).</p>
        <p>EN 2 Aôut 2016,la préfecture consentie à l'association un bureau municipale au 43 rue Cavendish pour organiser
            leurs réunions</p>
        <p>Depuis, l'association Les riverains du 43 est porteuse du projet de sécurité et d'entretien du quartier,
            elle s'occupe également d'aspect social, culturel, etc ... </p>
        <h3>Composition de l'association:</h3>
        <p>L'association se compose d'un bureau et d'une assemblée générale ordinaire.</p>
        <p><h4>Le bureau:</h4> est présidé par la présidente-secrétaire Sterlingots Audrey , accompagnée
        de Millaire Francis le trésorier.</p>
        <p><h4>L'assemblée générale ordinaire:</h4> regroupe un certains nombre d'habitants du quartier.</p>

        </p>
    </div>
    <style>
        .container
        {
            margin-top: 5px;
            background-color: #17a2b8;
            position: relative;
        }</style>
    {% endblock %}
