{% extends 'base.html.twig' %}

{% block title %}homepage{% endblock %}
{% block stylesheet%}{% endblock %}

{% block body %}<body>
<div class="btn">
    <a href="{{ path('fos_user_registration_register') }}" ><button type="submit" class="btn btn-dark mb-2">S'inscrire</button></a>

</div>
<h1 align="center">FIERS D'ETRE UNIS</h1>

<style>
    body {
        background-image: url("{{ asset('logo1.jpg') }}") ;
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-position: 0% 80%;
        background-size: 65em;
        z-index: 1;

    }

    .btn {
        z-index: 7;
        position: relative;
        left:35em;
    }



</style>

    </body>
{% endblock %}
